 /*element selector*/
 body{
    margin: 0px;
    background-color: blanchedalmond ;
    color: black;
    text-align: justify;
    
    
}
/*id-selector*/
#header-style{
    background-color:chartreuse;
    color:black(230, 7, 7, 0.801);
}
.animation{
    background-color: crimson;
    animation-name: animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
}

    
    
}
